<h2 firstDirective>Hello</h2>

<!-- <ul>
  <li *ngFor="let item of arr">{{ item.id }} || {{ item.name }}</li>
</!-->
-->

<!-- <h2>{{ title }}</h2>

 <input type="text" [(ngModel)]="address" /> 
<input type="text" #address />
<button (click)="sendData(address)">Send</button> -->

<!-- <button [ngStyle]="{ borderWidth: defaultWidth, 'border-style': defaultStyle }">
  Hello
</!-->

<!-- <button
  [ngClass]="{ green: isGreen, red: !isGreen }"
  (click)="isGreen = !isGreen"
>
  Hello
</button> -->

<!-- <h2 *ngIf="!isGreen">NG IF Demo</h2> -->
<!-- <h2 *ngIf="isGreen; else demoTemplate">NG IF DEMO</h2>

<ng-template #demoTemplate>
  <h3>NG TEMPLATE</h3>
</ng-template> -->

<!-- <ng-template ngIf="isGreen">
  <h2>NG iF DEMO</h2>
</ng-template> -->

<!-- <span [ngSwitch]="isGreen">
  <p *ngSwitchCase="true">Hello Case</p>
  <p *ngSwitchCase="false">Not Hello Case</p>
  <p *ngSwitchDefault>Default Case</p>
</!-->
-->
